<div class="home d-flex">
	<%= image_tag("logo-full-white", :alt => "logo", :id => "logo") %>
	<h1>World after crisis</h1>
</div>
<br>
<br>
<br>
<% @challenges.each do |challenge| %>
	<div class="chabox d-flex">	
		<img src="<%= challenge.badge %>" alt="#{challenge}">	
		<h2 class="pl-3"><%= challenge.title %></h2>
	</div>
<% end %>