// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
	color: black;
	background-color: white;
} h1 {
	color: #5F5C5B;
}

.chabox {
	width: 400px;
	margin: 50px;
	border: 1px solid black;
}
.chabox img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid white;
	margin: 10px;
}
#logo {
	width: 130px;
	height: 130px;
}
#prez h1{
	align-self: flex-end;
} 

#map {
	height: 100px;
}

#table, #map, #map-log, #diagnostics-log {
	width: 960px;
	margin: 10px 0;
}